*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  display:flex;
  background:#f0fdf4;
  transition:.3s;
}

/* SIDEBAR */
.sidebar{
  width:230px;
  min-height:100vh;
  background:#16a34a;
  color:white;
  padding:25px;
}

.sidebar h2{
  margin-bottom:30px;
}

.sidebar a{
  display:block;
  color:white;
  text-decoration:none;
  margin:15px 0;
  padding:8px;
  border-radius:8px;
}

.sidebar a:hover{
  background:rgba(255,255,255,.2);
}

/* MAIN */
.main{
  flex:1;
  padding:30px;
}

header{
  background:white;
  padding:20px;
  border-radius:14px;
  margin-bottom:20px;
  box-shadow:0 10px 25px rgba(0,0,0,.08);
}

/* FILTER */
.filter{
  background:white;
  padding:20px;
  border-radius:14px;
  margin-bottom:20px;
  box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.filter select,
.filter input,
.filter button{
  padding:10px;
  border-radius:8px;
  border:1px solid #bbf7d0;
  margin-right:8px;
}

.filter button{
  background:#22c55e;
  color:white;
  border:none;
}

/* TABLE */
table{
  width:100%;
  background:white;
  border-radius:14px;
  border-collapse:collapse;
  overflow:hidden;
  box-shadow:0 12px 30px rgba(0,0,0,.08);
}

th{
  background:#16a34a;
  color:white;
  padding:14px;
}

td{
  padding:12px;
  text-align:center;
  border-bottom:1px solid #dcfce7;
}

/* DARK MODE */
body.dark{
  background:#052e16;
}

body.dark header,
body.dark .filter,
body.dark table{
  background:#064e3b;
  color:white;
}

body.dark th{
  background:#166534;
}

/* MOBILE */
@media(max-width:768px){
  .sidebar{
    position:fixed;
    left:-230px;
  }
  .sidebar.active{
    left:0;
  }
  body{
    flex-direction:column;
  }
}
