*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Poppins, sans-serif;
}

body{
  display:flex;
  background:#f4f6f9;
}

.sidebar{
  width:220px;
  height:100vh;
  background:#111827;
  color:white;
  padding:20px;
}

.sidebar h2{
  margin-bottom:30px;
}

.sidebar a{
  display:block;
  color:white;
  text-decoration:none;
  margin:15px 0;
}

.sidebar a:hover{
  color:#38bdf8;
}

.main{
  flex:1;
  padding:20px;
}

.topbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
  margin-top:30px;
}

.card{
  background:white;
  padding:20px;
  border-radius:12px;
  box-shadow:0 10px 20px rgba(0,0,0,0.1);
}

/* DARK MODE */
body.dark{
  background:#0f172a;
}

body.dark .main{
  color:white;
}

body.dark .card{
  background:#1e293b;
}
