*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}

body{
  background:#f0fdf4;
  padding:40px;
}

/* TITLE */
h2{
  text-align:center;
  margin-bottom:25px;
  color:#166534;
}

/* FORM CARD */
form{
  max-width:380px;
  margin:auto;
  background:white;
  padding:30px;
  border-radius:16px;
  box-shadow:0 15px 35px rgba(0,0,0,.1);
}

input, select{
  width:100%;
  padding:12px;
  margin-top:15px;
  border-radius:10px;
  border:1px solid #bbf7d0;
}

button{
  width:100%;
  margin-top:20px;
  padding:12px;
  background:#22c55e;
  border:none;
  border-radius:12px;
  color:white;
  font-size:16px;
  cursor:pointer;
}

button:hover{
  background:#16a34a;
}

/* NOTIF */
#notif{
  text-align:center;
  margin-top:15px;
  color:#166534;
  font-weight:600;
}
