body{
  font-family:Poppins,sans-serif;
  background:#f4f6f9;
  padding:40px;
}

form{
  background:white;
  padding:30px;
  max-width:350px;
  border-radius:12px;
  box-shadow:0 10px 20px rgba(0,0,0,.1);
}

input,select,button{
  width:100%;
  margin-top:15px;
  padding:10px;
}

button{
  background:#2563eb;
  color:white;
  border:none;
  border-radius:6px;
}
