*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#f0fdf4;
  padding:20px;
}

h2{
  text-align:center;
  margin-bottom:20px;
  color:#166534;
}

form{
  background:white;
  padding:25px;
  border-radius:16px;
  max-width:420px;
  margin:auto;
  box-shadow:0 15px 35px rgba(0,0,0,.1);
}

input,select{
  width:100%;
  padding:12px;
  margin-top:15px;
  border-radius:10px;
  border:1px solid #bbf7d0;
}

button{
  width:100%;
  margin-top:20px;
  padding:14px;
  background:#22c55e;
  border:none;
  border-radius:12px;
  color:white;
  font-size:16px;
}

@media(max-width:480px){
  form{
    padding:20px;
  }
}
