*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  min-height:100vh;
  background:linear-gradient(135deg,#166534,#22c55e);
  display:flex;
  align-items:center;
  justify-content:center;
}

/* CARD */
.content{
  width:350px;
  background:#ffffff;
  padding:30px;
  border-radius:16px;
  box-shadow:0 20px 40px rgba(0,0,0,0.25);
}

/* JUDUL */
.content header{
  font-size:28px;
  font-weight:700;
  color:#16a34a;
  text-align:center;
  margin-bottom:25px;
}

/* INPUT */
.field{
  position:relative;
  margin-bottom:15px;
}

.field input{
  width:100%;
  padding:12px 40px;
  border-radius:10px;
  border:1px solid #d1fae5;
  background:#f0fdf4;
  outline:none;
}

.field i{
  position:absolute;
  left:14px;
  top:50%;
  transform:translateY(-50%);
  color:#16a34a;
}

/* PASSWORD SHOW */
.show{
  position:absolute;
  right:14px;
  top:50%;
  transform:translateY(-50%);
  font-size:12px;
  color:#166534;
  cursor:pointer;
}

/* FORGOT */
.pass a{
  font-size:13px;
  color:#16a34a;
  text-decoration:none;
}

/* LOGIN BUTTON */
.field input[type="submit"]{
  background:#16a34a;
  color:white;
  font-weight:600;
  cursor:pointer;
  transition:0.3s;
}

.field input[type="submit"]:hover{
  background:#166534;
}

/* OR */
.login{
  text-align:center;
  margin:20px 0 10px;
  color:#166534;
  font-weight:500;
}

/* SOSIAL */
.links{
  display:flex;
  gap:10px;
}

.links div{
  flex:1;
  padding:10px;
  border-radius:10px;
  text-align:center;
  color:white;
  cursor:pointer;
}

.facebook{
  background:#1877f2;
}

.gmail{
  background:#ef4444;
}

/* SIGNUP */
.signup{
  margin-top:20px;
  text-align:center;
  font-size:14px;
}

.signup a{
  color:#16a34a;
  font-weight:600;
  text-decoration:none;
}
